export(promoterhit_per_sample_mat, 
       genehit_per_sample_mat, 
       regionhit_per_sample_mat)

export(read_macs2_narrow,
       read_macs2_broad,
       read_seacr,
       summit_from_seacr)

export(consolidate_peaks)