importFrom(Rsamtools, BamFileList)
importFrom(GenomicAlignments, GAlignmentPairs, summarizeOverlaps)
importFrom(GenomeInfoDb, keepStandardChromosomes, dropSeqlevels)
importFrom(GenomicRanges, reduce, countOverlaps)
importFrom(rtracklayer, import, export)
importFrom(ggVennDiagram, ggVennDiagram)
importFrom(purrr, map_df, map_dfc)
importFrom(plyranges, find_overlaps)

export(read_macs2_narrow,
       read_macs2_broad,
       read_seacr)

export(extract_summit_macs2,
       extract_summit_seacr)

export(consolidate_peaks, 
       consolidated_peak_hits,
       regionhit_per_sample_mat)

export(find_overlaps_venn)

export(find_consensus_seacr,
       find_consensus_macs2)

export(peak_read_count)
